@import url("./index.css");
.carditem__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  padding: var(--spacing-8);
  background-color: var(--light-bg-solid);
  margin: var(--spacing-24);
  box-shadow: 3px 4px 10px -5px rgba(66, 68, 90, 0.25);
}
.carditem__elem1{
  display: grid;
  grid-template-columns: 100px 1fr;
}
.carditem__elem2{
  display: grid;
  width: auto;
}
.carditem__img{
  width: 100%;
}
.carditem__contenido{
  width: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.carditem__nombreitem{
  font-size: var(--font-large);
}
.carditem__categoria{
  font-size: var(--font-xsmall);
}
.carditem__precio{
  font-size: var(--font-xsmall);
}
.carditem__cantidad{
  display: flex;
  align-items: center;
}
.carditem__input{
  border: 1;
  border-radius: .5rem;
}
.carditem__sum{
  display: flex;
  flex-direction: column;
}
.carditem__sum-boton{
  margin: 2px 5px;
}
svg{
  display: flex;
}
.carditem__p{
  justify-content: center;
  align-items: center;
}
.carditem__total{
  cursor: auto;
}