body
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    height: 100vh;
    width: 100vw;
}

main
{
    display: flex;
    flex-direction: row;

    width: 100%;

    align-content: center;
    justify-content: space-around;

    margin-top: 50px;
    margin-bottom: 50px;
}

.search_filters
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: start;

    height: 350px;
    width: 200px;

    text-transform: uppercase;
    font-weight: 500;
}

.search_filters label
{
    font-size: 20px;
}

.search_filters a
{
    font-size: 20px;
}

/*BUSCAR-------------------------------------------*/

.search_box
{
    display: flex;
    flex-direction: column;
}

.search_box input
{
    border-width: 1px;
    border-color: black;
    border-radius: 4px;

    height: 30px;

    margin-right: 10px;
    margin-top: 10px;
}

/*-------------------------------------------------*/

/*ORDENAR POR--------------------------------------*/

.ordenar_por
{
    display: flex;
    flex-direction: column;
}

#sorting_options
{
    border-width: 1px;
    border-color: black;
    border-radius: 4px;

    height: 30px;

    color: grey;

    font-size: 15;

    margin-right: 10px;
    margin-top: 10px;
}

/*-------------------------------------------------*/

/*PRECIO-------------------------------------------*/

.precio
{
    display: flex;
    flex-direction: column;
}

.price_range_box
{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
}

.price_range_box label
{
    font-size: 12px;
    font-weight: 600;

    margin-right: 5px;
}

.price_range_box input
{
    border-width: 1px;
    border-color: black;
    border-radius: 4px;

    width: 50px;
    height: 20px;

    margin-right: 10px;

    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

::placeholder
{
    color: grey;
}

.price_range_box a
{
    margin-right: 10px;
}

/*-------------------------------------------------*/

/*CHECKBOX-----------------------------------------*/

.checkbox
{
    display: flex;
    flex-direction: column;
}

.checkbox_filters
{
    margin-top: 10px;
}

.checkbox_filters div
{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.checkbox_filters div input
{
    border-width: 1px;
    border-color: black;
    border-radius: 4px;

    margin-right: 5px;
}

.checkbox_filters div label
{
    font-size: 12px;
    font-weight: 600;
}

/*-------------------------------------------------*/

/*ITEMS CONTAINER----------------------------------*/

.shop_items_container
{
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-template-columns: auto auto auto;

    /*padding: 0px;*/


    /*grid-gap: 40px;*/
    grid-row-gap: 30px;
    grid-column-gap: 30px ;
    /*grid-column-gap: 30px;*/

    justify-items: center;
}

.item_box
{
    display: flex;
    flex-direction: column;

    height: 430px;
    width: 300px;

    justify-content: space-between;

    /*border-style: dotted;*/
}

.item_box a
{
    display: flex;
    flex-direction: row;

    justify-content: center;

    background-color: red;
    color: white;

    width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 12px;
    text-transform: uppercase;

    align-self: self-end;
}

.item_box img
{

}

.item_box p
{
    font-size: 15px;

    margin-top: 5px;
}

.item_box h2
{
    font-size: 20px;

    margin-top: 5px;
}

.item_box h3
{
    font-size: 12px;
    color: rgb(4, 151, 209);

    margin-top: 5px;
}

/*-------------------------------------------------*/