<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <h2>PAGINA DE CONTACTO</h2>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
